{% extends "!layout.html" %}

{% block sourcelink %}
<a href="https://github.com/qudsiramiz/arcanumpy/blob/main/arcanum/arcanumpy.py" target="_blank">View page source</a>

<a href="https://github.com/qudsiramiz/arcanumpy/arcanumpy.py" target="_blank">
    Edit on GitHub
</a>

<div class="version-selector">
    <h3>Versions</h3>
    <ul>
    {% for version in versions %}
        <li><a href="{{ html_baseurl }}/{{ version }}/">{{ version }}</a></li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
