sphinx
sphinx-rtd-theme
sphinx-automodapi
cdflib
matplotlib
pandas
pytest
toml
pytest
cdflib
jupyter
jupyter_sphinx
nbsphinx
myst_parser
sphinx-tabs
sphinx-reredirects
sphinx-issues
sphinx-autodoc-typehints
sphinx-togglebutton
sphinx-copybutton